page-forgotten-password {
    .no-border {
          border-bottom: 0 !important;
          box-shadow: none !important;
        }

   .inputSubmit{
        width: 70%;
        border-radius: 10px;
        margin: 25px 0;
        background: #f6c646;
        font-size: 20px;
        font-family: 'Noto Sans';
        font-weight: 400;
    }
    
     .inputSubmit[disabled]{
        opacity: 1;
    }
    .inputSubmit:focus,
    .inputSubmit:hover{
        box-shadow: 1px 1px 4px #fff, -1px -1px 4px #fff;
    }
    .scroll-content,
    fixed-content {
         overflow: hiddden;
         background: url(../../assets/imgs/background.jpg) no-repeat center center fixed;
         -webkit-background-size: cover;
         -moz-background-size: cover;
         -o-background-size: cover;
         background-size: cover;
  
         .top-page {
              padding-top: 35%;
              height: 50%;
              h2 {
                   img {
                        max-width: 25% !important;
                        background: #fff;
                        ;
                        padding: 5px;
                        border-radius: 6px;
                   }
              }
         }
         .middle-page {
              padding-top:4rem;
              height: 34%;               
             
         }
         .bottom-page {
              height: 15%;
              button.loginBtn {
                   height: 3.7rem;
              }
         }
    }

}
