page-list-employee {
    img {
        max-width: 10.6rem !important;
        max-height: 10.6rem !important;
      }
      .welcome-header{
        position: relative;
        background: linear-gradient(135deg, #8B7FE0, #F75F9D);
        width:100%;
        padding: 30px 0;
        margin-bottom: 20px;
    
        .refresh {
          position: absolute;
          right: 10px;
          background-color: #4c5b79;
          box-shadow: 0px 0px 5px #5b6a89;
        }
    
        .content {
          text-align: center;
          padding: 20px;
          color:white;
    
          img {
            width: 100px;
            margin-bottom: 10px;
          }
    
          .title {
            font-size:20px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 10px;
          }
    
          .subtitle {
            font-size: 15px;
            font-weight: 400;
            text-align: center;
          }
        }
      }
}
